.navLinkF{
    color: white;
  
}
.navLinkF:hover{
    text-decoration: none;
    color: wheat;
}
.navItemF{
    width: 100px;
}
.navList{
    height: 100%;
    margin: 50px 0;
    margin-left: 10px;
}